# Ignore everything in data and references
data/
references/

# Ignore most results
results/
!results/counts/*.counts.txt
!results/multiqc/multiqc_report.html

# Ignore large fastqc files
results/fastqc/*.zip

# Ignore BAMs and trimmed files
results/bam/
results/trimmed/

# Ignore zip archives
*.zip

# Ignore env YAMLs if not needed
envs/

# Ignore backup files
*copy*
.snakemake/
Snakefile-download
