# Ignore raw data
data/
!data/README.md  # In case you want to include a note about the data source

# Ignore reference files
references/
!references/README.md  # Same idea as above

# Ignore results
results/
!results/multiqc/multiqc_report.html  # Keep summary report
!results/counts/*.counts.txt          # Keep count tables if you want
results.zip
# Ignore heavy compressed fastqc reports
results/fastqc/*.zip

# Ignore BAM files (big!)
results/bam/
results/trimmed/
results/*.zip

# Ignore conda env files — unless you want to share them
envs/
!envs/README.md  # Optional explanation of environments

# Optional: ignore backup/duplicate configs
config\ copy.yaml
Snakefile\ copy
Snakefile-download

# Ignore Snakemake metadata
.snake*

# Other system files
.DS_Store
Thumbs.db

