# Ignore FASTQ data
data/*.fastq.gz

# Ignore results
results/
!results/multiqc/multiqc_report.html  # include summary report

# Ignore references
references/hg38/*.ht2
references/hg38/*.fa
references/hg38/*.gtf

# Ignore Conda environments
envs/*.yaml
!config.yaml


# Snakemake metadata
.snake*
